
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter&display=swap');

/* Templates */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-even{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Scroll Kit */
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--black);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(64, 68, 68);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px){
    ::-webkit-scrollbar{
   display: none;
    }
}



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    --white: rgb(218, 224, 228);
    --black: #0f1113;
}

body{
    background-color: var(--black);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1600 - 300)));
}
h2{
    font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}
h3{
    font-size: 1rem;
}


/* Navbar */

.header {
    display: flex;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 6vh;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
    color: var(--white);
  }
  .logo:hover{
      cursor: pointer;
  } 
  .links-nav{
      display: flex;
  }
  .links-nav ul{
    margin-bottom: 0;
  }
  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style-type: none;
  }
  .button-link{
    background: var(--black);
    color: var(--white);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  .option{
    color: var(--white);
  }
  .option :hover {
    cursor: pointer;
  }
  .option button{
    text-decoration: none;
  }
  .mobile-menu {
    display: none;
  }



/* Main Section */
main{
font-family: 'Zen Tokyo Zoo', cursive;
    color: var(--white);
    height: 100vh;
    font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
}
.main-section{
background-image: url("./assets/main-background.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



/* About section */
.about{
    height: 60rem;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description-container{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}
.picture-container{
    height: 14rem;
    width: 14rem;
    background-image: url("./assets/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.9;
}

/* Wave */
.wave{
    position: absolute;
    left: -5px;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.5;
    stroke-width: 2;
}

/* Languages */
.skills-component{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
}
.languages-title{
    font-family: 'Andika', sans-serif;
    margin-bottom: 1rem;
}
.language-description{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4rem;
}
.language-card{
    width: 50%;
}
.card-logo img{
    width: calc(40px + (72 - 40) * ((100vw - 300px) / (1600 - 300)));
    height: calc(40px + (72 - 40) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 1rem;
}
.tools-component h4:first-child{
    padding-bottom: 1rem;
}


/* Projects */

.projects-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.projects-title h1{
    color: var(--white);
    font-family: 'Andika', sans-serif;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.projects{
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin-top: 1rem;
    width: 18rem;
    border:none;
    background-color: var(--black); 
}
#card-body{
    background-color: rgb(243, 239, 245);
    border-radius: calc(.25rem - 1px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15rem;
}
#flex-buttons{
    display: flex;
    justify-content: space-between; 
}
#button-project{
    background-color:  #7510F7;
    border: none;
}

/* Contact */
.contact{
    height: 10rem;
    margin-top: 8rem;
}
.contact-container{
    justify-content: space-evenly;
    height: 50%;
    width: 70%;
    background-color: #7510F7;
    border-radius: 1rem;
    color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    
    text-align: center;
}
.contact-container h4{
    padding-top: 7px;
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

/* Form */
.home-container{
    height: 5rem;
}
#logo-form{
    height: 45px;
    width: 45px;
    margin-top: 1.3rem;
    margin-left: 2.5rem;
}

form{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.input-container :first-child{
    padding-left: 1rem;
    background: none;
    outline: none;
    color: var(--white);
  
}
input{
    margin: 1rem 0;  
    border: 0;
    border-bottom: 1px solid #804ac5;
    width: calc(200px + (800 - 200) * ((100vw - 300px) / (1600 - 300)));
}

::placeholder{
    color: var(--white);

}

textarea {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    min-height: 200px;
    width: calc(220px + (1100 - 220) * ((100vw - 300px) / (1600 - 300)));
    resize: none;
    overflow-y: auto;
    border: 1px solid #804ac5;
    border-radius: 1rem;
  }
  #button-form{
      margin-left: 5px;
  }


/* Line separate component */
.line-separate{
    height: 0.5rem;
    }
.line{
    width: 70%;
    height: 1px;
    background-color: #813adf;
    }

 @media screen and (max-width: 768px){
          .header {
            padding: 0px 10px;
          }
          /* Navbar */
          .logo {
            width: 45px;
            height: 45px;
          }
          .nav-options {
            display: flex;
            width: 100%;
            height: auto;
            position: absolute;
            top: 6vh;
            left: -100%;
            opacity: 0;
            transition: all 0.5s ease;
            flex-direction: column;
            list-style-type: none;
            grid-gap: 0px;
          }
          .nav-options.active {
            background-color: var(--black);
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
            align-content: center;
            padding-left: 0px;
          }
          .menu-icon {
            width: 45px;
            height: 45px;
          }
          .option {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vw;
            padding: 30px 0px;
          }
          .mobile-menu {
            display: block;
            color: var(--white);
            }
          .mobile-menu:hover{
            cursor: pointer;
            }
    
        /* About */
        .about{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
        }
        .description-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 20%;
           padding-bottom: 2rem;
        }
        .wave{
            margin-top: 30rem;
        }

        /* Projects */
        .projects-container{
            height:initial;
        }
        .projects{
            display: flex;
            flex-direction: column;
        }
        .card{
            width: 18rem;
            height: 24rem;
            margin-bottom: 2rem;
        }
        #flex-buttons{
            height: 3rem;
            display: flex;     
        }
         #button-project{
            width: 40%;
            height: 2rem;
            font-size: 0.8rem;
        } 
     
        /* Contact */
        #contact{
            margin-left: 0;
            margin-top: 4rem;   
        }
        .contact-container{
            width: 80%;
            text-align: center; 
        }
        .contact-container h4 {
            font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
        .contact-button button{
            margin-right: 0.4rem;
            font-size: 0.8rem;
        }

        /* Form */
        .form{
            justify-content: flex-start;
            margin-left: 3rem;
        }
    } 

    @media screen and (max-width: 480px)  {

        /* About */
        .about{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            height: 80vh;
        }
        .description-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 20%;   
        }
        .description{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .picture-container{
            margin-top: 1rem;
        }
        .wave{
            margin-top: 20rem;
        }

        /* Languages */
        .languages-component{
            padding-top: 3rem;
            margin-bottom: 5rem;
        }    
       .language-card{
        width:80%;
           padding-top: 1rem;
       }  
        .dev-list{
            text-align: center;
            margin-bottom: 3rem;
        }

        /* Projects */
        .projects-container{
            height: auto;
        }
        .projects{
            display: flex;
            flex-direction: column;
        }
        .card{
            width: 16rem;
            height: 28rem;
            margin-bottom: 2rem;
        }
        #flex-buttons{
            height: 6rem;
            display: flex;
            flex-direction: column; 
            justify-content: space-around;   
        }
         #button-project{
            width: 60%;
            height: 2.5rem;
            font-size: 0.8rem;
        } 

        /* Contact */
        .contact-container{
            width: 100%;
            text-align: center;
            font-size: 1rem;
        }
        #contact{
            margin-left: 0; 
        }
        .contact-button button{
            margin-right: 0.4rem;
            font-size: 0.8rem;
        }
    }

   
  