@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Unbounded&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

/* Templates */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Scroll Kit */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(64, 68, 68);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: rgb(218, 224, 228);
    --black: #0f1113;
}

body {
    background-color: var(--black);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: calc(22px + (36 - 22) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

h3 {
    font-size: 0.8rem;
}

/* Line separate component */
.line-separate {
    height: 0.5rem;
}

.line {
    width: 70%;
    height: 1px;
    background-color: #813adf;
}